/*
*
* Copyright (c) 2021 Darryl deHaan
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "keymap_optimot.h"

#define DEFAULT 0
#define SYMB   1
#define MOVE   2
#define PAD    3
#define CMD    4
#define ADJUST 5

#define MEH LA(LS(LCTRL))


// Key position groups
#define KEYS_L 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29
#define KEYS_R 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35   
#define THUMBS_L 36 37 38
#define THUMBS_R 39 40 41


/*                KEY POSITIONS

  ╭────────────────────────╮ ╭────────────────────────╮
  │  0   1   2   3   4   5 │ │  6   7   8   9  10  11 │
  │ 12  13  14  15  16  17 │ │ 18  19  20  21  22  23 │
  │ 24  25  26  27  28  29 │ │ 30  31  32  33  34  35 │
  ╰───────────╮ 36  37  38 │ │ 39  40  41 ╭───────────╯
              ╰────────────╯ ╰────────────╯            */

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_transform = &five_column_transform;
  };
};

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <150>;
    quick-tap-ms = <150>;              // repeat on tap-into-hold
    global-quick-tap;
    hold-trigger-key-positions = <0>;  // tap on interrupt
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "Optimot";
// ---------------------------------------------------------------------------------------------------
// | TAB      |  À   |  J  |  O    |  É    |  B   |   |  F   |  D    |  L  |  '  |  Qu  |  X    |
// | SYMB     |  A   |  I  |  E    |  U    |  ,   |   |  P   |  T    |  S  |  R  |  N   |  ^    |
// | BCKSP    |  Z   |  Y  |  È->  |  . 12 |  K   |   |  G   |  C    |  M  |  H  |  V   |  RET  |
//                         | CTRL  |  ALT  | GUI  |   | SPC  | SHFT  |  W  | 

                        bindings = <
   &kp TAB  &kp OP_AGRV &kp OP_J &kp OP_O         &kp OP_EACU    &kp OP_B    &kp OP_F  &kp OP_D  &kp OP_L &kp OP_QUOT    &kp OP_Q       &kp OP_X
   &mo SYMB &kp OP_A    &kp OP_I &kp OP_E         &kp OP_U       &kp OP_COMM &kp OP_P  &kp OP_T  &kp OP_S &kp OP_R       &kp OP_N       &kp OP_CIR
   &kp BSPC &kp OP_Z    &kp OP_Y &lt MOVE OP_EGRV &lt PAD OP_DOT &kp OP_K    &kp OP_G  &kp OP_C  &kp OP_M &kp OP_H       &kp OP_V       &kp RET
                                 &kp LCTRL        &kp LALT       &kp LGUI    &kp SPACE &kp LSHFT &kp OP_W
                        >;
                };
                lower_layer {
                        label = "$€@#/()";
// -----------------------------------------------------------------------------------------
// |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |   €  | 
// |      |  «  |  »  |  "  |  -  |  +  |   |  *  |  /  |  =  |  (  |  )  |   $  |
// |      |  %  |  #  |  @  |     |     |   |     |BCKSP| DEL | MEH |     |      |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &kp OP_EURO &kp OP_1    &kp OP_2     &kp OP_3     &kp OP_4     &kp OP_5    &kp OP_6    &kp OP_7    &kp OP_8   &kp OP_9    &kp OP_0    &kp OP_EURO
   &trans      &kp OP_LDAQ &kp OP_RDAQ  &kp OP_DQUO  &kp OP_MIN   &kp OP_PLUS &kp OP_ASTR &kp OP_SLSH &kp OP_EQL &kp OP_LPRN &kp OP_RPRN &kp OP_DLR
   &trans      &kp OP_PERC &kp OP_HASH  &kp OP_AT    &trans       &trans      &trans      &kp BSPC    &kp DEL    &kp MEH     &trans      
                                        &trans       &trans       &trans      &trans      &trans      &trans
                        >;
                };

                raise_layer {
                        label = "Move";
// -------------------------------------------------------------------------------------------------
// |     |      |      |      |     |       |   |       | Pup     |  Up  | Pdow      |      |      |
// |     |      |      |      |     |       |   |       | Left    |  Dwn | Right     |      |      |
// |     |      |      |      |     |       |   |       | Home    |      | End       |      |      |
//                     |      |     |       |   |       |         |      |
                        bindings = <
   &trans &trans &trans &trans &trans &trans      &trans &kp PG_UP &kp UP   &kp PG_DN  &trans &trans
   &trans &trans &trans &trans &trans &trans      &trans &kp LEFT  &kp DOWN &kp RIGHT  &trans &trans
   &trans &trans &trans &trans &trans &trans      &trans &kp HOME  &trans   &kp END    &trans &trans
                        &trans &trans &trans      &trans &trans    &trans
                        >;
                };


                pad_layer {
                        label = "Pad";
// -----------------------------------------------------------------------------------
// |      |     |     |      |       |      |   |  DEL|  7  |  8  |  9  |  -  |  ×   |
// |      |     |     |      |       |      |   | BSPC|  4  |  5  |  6  |  *  |  =   |
// |      |     |     |      |       |      |   |  /  |  1  |  2  |  3  |  +  |  RET |
//                    |      |       |      |   |  0  |  .  |  ,  |
                        bindings = <
   &trans &trans &trans &trans &trans &trans     &kp DEL     &kp OP_7     &kp OP_8    &kp OP_9 &kp OP_MIN  &kp OP_MUL
   &trans &trans &trans &trans &trans &trans     &kp BSPC    &kp OP_4     &kp OP_5    &kp OP_6 &kp OP_ASTR &kp OP_EQL
   &trans &trans &trans &trans &trans &trans     &kp OP_SLSH &kp OP_1     &kp OP_2    &kp OP_3 &kp OP_PLUS &kp RET
                        &trans &trans &trans     &kp OP_0    &kp OP_DOT   &kp OP_COMM
                        >;
                };

                cmd_layer {
                        label = "CMD";
// --------------------------------------------------------------------------------------------------
// | GRAVE_ESC|CAPS  |      |      |      | DEL    |   | DEL    |      | ESC   |      |      |      |
// | SHIFT    |      |      |      |      | BSPC   |   | BSPC   |  ⌘Z  | RET   |      |      |      |
// |          |      |      |      |      |        |   |        |      |       |      |      |      |
//                          |      |      |        |   |        |      |       |
                          bindings = <
   &gresc      &kp CAPS &trans &trans &trans &kp DEL      &kp DEL  &trans       &kp ESC &trans &trans &trans
   &kp LSHIFT  &trans   &trans &trans &trans &kp BSPC     &kp BSPC &kp LG(OP_Z) &kp RET &trans &trans &trans
   &trans      &trans   &trans &trans &trans &trans       &trans   &trans       &trans  &trans &trans &trans
                               &trans &trans &trans       &trans   &trans       &trans
                        >;
                };

                adjust_layer {
                        label = "Adjust";
// -----------------------------------------------------------------------------------------
// |  TAB |  F1 |  F2 |  F3 |  F4 |  F5 |   |  F6 |  F7 |  F8 |  F9 |  F10| BKSP |
// |      |  F11|  F12|  F13|  F14|  F15|   |  F16|  F17|  F18|  F19|  F20| BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp F1       &kp F2       &kp F3       &kp F4       &kp F5         &kp F6   &kp F7   &kp F8  &kp F9    &kp F10 &trans
   &trans     &kp F11      &kp F12      &kp F13      &kp F14      &kp F15        &kp F16  &kp F17  &kp F18 &kp F19   &kp F20 &trans
   &kp LSHFT  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &trans   &trans   &trans  &trans    &trans  &trans
                                        &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

        };
};